@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

.navbar {
    margin: 20px;
    text-align: center;

}

.navbar-button {
    font-family: 'Montserrat', sans-serif;
    vertical-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
    color: red;
    letter-spacing: 2.7px;
    margin-right: 30px;
    text-transform: uppercase;
}

.photo {
    width: 100%;
}

.description {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 22px;
    letter-spacing: 3.3px;
    color: #373737;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 47px;
}

.description-text {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin: 22px 67px 23px 68px;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.4px;
    color: #373737;
}

.red-button {

    margin: 0 574px;
    height: 94px;
    width: 195px;
    background: red;
}

.button-text {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
}

.footer-text {
    font-family: 'Montserrat', sans-serif;
    text-align: right;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 2.4px;
    margin: 65px 110px 55px 0;
    color: #373737;
}